<div class="container">
    <a class = 'logo'href="">Delicious Eats</a>
    <nav class="nav"> 
        <a href="" class="color">Home</a>
        <a class="color" [routerLink]="['/shop']">Shop</a>
        <a href="" class="lageba">
            <p class="color">Cart</p>
            <img class = 'cart' src="https://www.freeiconspng.com/thumbs/cart-icon/cart-icon-16.png" alt="">
        </a>
        
        <button class="button" [routerLink]="['/sign-in']"><span>Sign</span></button>
        <button class="button1"><span>Log</span></button>
    </nav>
</div>
