<section>
    <div class="sec-1">
        <app-search (searchedTextChange)="onSearching($event)">

        </app-search>
        <app-category (onChoose) = "categoriesChanged($event)">

        </app-category>
    </div>
    <div class="sec-2">
        <div class="sec-filter"></div>
        <div class="sec-prod" >
            
                <ng-container *ngFor="let food of foods" >
        
                    <app-product  [food]="food" *ngIf="searchFilter === '' || food.name.toLowerCase().includes(searchFilter)" ></app-product>
                </ng-container>
            
        </div>
    </div>
</section>



